[submodule "ignis"]
	path = ignis
	url = https://github.com/Nielsbishere/ignis
[submodule "igxi"]
	path = igxi
	url = https://github.com/Nielsbishere/igxi
[submodule "third_party/Nuklear"]
	path = third_party/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
